# Q12
Tree Based Models - Q12 - 14/July

Data pertaining the startup companies is provided in 05_Startups_profit.csv

https://drive.google.com/drive/folders/1Jl8iDu7nGmrqCECbrLqmVafgwE5PYfiU

Train a decision tree to predict the profit of the companies based on other variables. 
Does the state in which the startup is , impact its profit?

In [1]:
import pandas as pd
import numpy as np


from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor, plot_tree, export_text
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("05_Startups_profit.csv")
print(df.shape)
df.head()

(50, 5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
# convert State to categorical variable
df = pd.get_dummies(df, prefix_sep='_', columns=['State'])
df.head(1)

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.2,136897.8,471784.1,192261.83,0,0,1

In [4]:
x_var = ['R&D Spend', 'Administration', 'Marketing Spend', 'State_California', 'State_Florida', 'State_New York']
y_var = 'Profit'
X_train = df[x_var]
Y_train = df[y_var]

In [5]:
# CART Regression Tree
tune_parm_space = {'min_samples_split':list(range(1,40)),
                   'max_depth':list(range(1,40))
                  }

dt_regressor = DecisionTreeRegressor(random_state=0, criterion='squared_error')
dt_regressor.fit(df[x_var], df[y_var])

DecisionTreeRegressor(random_state=0)

In [6]:
dt_regressor.score(df[x_var], df[y_var])

1.0

In [7]:
feature_importance = pd.Series(dt_regressor.feature_importances_)
feature_importance.index = x_var
feature_importance.sort_values(ascending=False)

R&D Spend           0.976317
Marketing Spend     0.020783
Administration      0.001952
State_California    0.000910
State_New York      0.000035
State_Florida       0.000003
dtype: float64