# Q5
Tree Based Models - Q05 - 07/July
===================================
Write a program to calculate the entropy for each of the variables in the following dataset.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("q5_data.csv")
df.head()

      age  income student credit_rating buys_laptop
0    <=30    high      no          fair          no
1    <=30    high      no     excellent          no
2  31..40    high      no          fair         yes
3     >40  medium      no          fair         yes
4     >40     low     yes          fair         yes

In [3]:
def calculate_entropy(vrb):
    counts = vrb.value_counts()
    counts_list = counts.to_list()
    counts_sum = np.sum(counts_list)
    prob_list = counts_list / counts_sum
    entropy_list = [prob_x * np.log2(prob_x) for prob_x in prob_list]
    total_entropy = - np.sum(entropy_list)
    
    return total_entropy

In [4]:
# iterate over all variables and calculate entropy
df_vrb_entropy = pd.DataFrame(data={'variable name': [], 'entropy': []})
col_list = df.columns.to_list()
for vrb in col_list:
    entropy = calculate_entropy(df[vrb])
    df_vrb_entropy.loc[len(df_vrb_entropy.index)] = [vrb, entropy]

In [5]:
df_vrb_entropy

   variable name   entropy
0            age  1.577406
1         income  1.556657
2        student  1.000000
3  credit_rating  0.985228
4    buys_laptop  0.940286